<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tea.admin.server.content.dao.persist.mapper.CommentMapper">
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT id, author_id, author_name, article_id, content, ip, floor, up_count, 
               down_count, check_state, check_remarks, reference_ids, display_state
        FROM content_comment
        WHERE id = #{id}
    </select>
    
    <resultMap id="StandardResultMap" type="com.example.tea.admin.server.content.pojo.vo.CommentStandardVO">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="article_id" property="articleId"/>
        <result column="content" property="content"/>
        <result column="ip" property="ip"/>
        <result column="floor" property="floor"/>
        <result column="up_count" property="upCount"/>
        <result column="down_count" property="downCount"/>
        <result column="check_state" property="checkState"/>
        <result column="check_remarks" property="checkRemarks"/>
        <result column="reference_ids" property="referenceIds"/>
        <result column="display_state" property="displayState"/>
    </resultMap>
</mapper>
