<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tea.admin.server.content.dao.persist.mapper.UpDownLogMapper">
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT id, user_id, resource_type, resource_id, op_type
        FROM content_up_down_log
        WHERE id = #{id}
    </select>
    
    <resultMap id="StandardResultMap" type="com.example.tea.admin.server.content.pojo.vo.UpDownLogStandardVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="resource_type" property="resourceType"/>
        <result column="resource_id" property="resourceId"/>
        <result column="op_type" property="opType"/>
    </resultMap>
</mapper>
