<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tea.admin.server.product.dao.persist.mapper.CategoryMapper">
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT id,
               name,
               parent_id,
               depth,
               keywords,
               sort,
               icon,
               enable,
               is_parent,
               is_display
        FROM product_category
        WHERE id = #{id}
    </select>

    <!--List<CategoryListItemVO> list();-->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM product_category
        ORDER BY sort DESC, id DESC
    </select>

    <!--List<CategoryListItemVO> listByParentId(Long parentId);-->
    <select id="listByParentId" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM product_category
        WHERE parent_id = #{parentId}
        ORDER BY sort DESC, id DESC
    </select>

    <sql id="ListQueryFields">
        <if test="true">
            id, name, parent_id, depth, keywords,
            sort, icon, enable, is_parent, is_display
        </if>
    </sql>

    <resultMap id="ListResultMap" type="com.example.tea.admin.server.product.pojo.vo.CategoryListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

    <resultMap id="StandardResultMap" type="com.example.tea.admin.server.product.pojo.vo.CategoryStandardVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>
</mapper>
